# Ignore folder
/node_modules
build/
dist/js
themes/
test/

# Ignore file
/package-lock.json
.npmignore

# Ignore misc
.vscode/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions