# dependencies
/node_modules
/package-lock.json

# Ignore folder
build/
dist/js
themes/
test/

# Ignore file

# Ignore misc
.vscode/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions