# Ignore folder
/build
/node_modules
/test

# Ignore file
.npmignore
/package-lock.json

# Ignore misc
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.vscode
.wafpickle-*
.yarn
config.gypi
CVS
npm-debug.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions